.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.orig
*~
logs/
tmp/
*.log
data/
.vscode/
.idea/
.project
*.tmproj
*.tgz
*.lock
session-manager-plugin.deb
*.deb
.env
.env.*
!.env.*.example
*-supertesting.yaml
*-secret.yaml
*.secret
.terraform/
*.tfstate
*.tfstate.*